{% extends "main_layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="account-banner" style="background-image: url('{{ url_for('static', filename='banners/photo-1497316730643-415fac54a2af.jpg') }}');">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-body account-shadow">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Informacje osobiste</legend>
                <!--<div class="form-group">
                    {{ form.social.label(class="form-control-label") }}

                    {% if form.social.errors %}
                        {{ form.social(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.social.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.social(class="form-control form-control-lg") }}
                    {% endif %}
                </div> -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.university.label(class="form-control-label") }}

                    {% if form.university.errors %}
                        {{ form.university(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.university.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.university(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.faculty.label(class="form-control-label") }}

                    {% if form.faculty.errors %}
                        {{ form.faculty(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.faculty.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.faculty(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.social.label(class="form-control-label") }}

                    {% if form.social.errors %}
                        {{ form.social(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.social.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.social(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group" name="skills">
                    <p>Umiejętności</p>
                    <div class="container checkbox-container">
                        <div class="form-group">
                            {% for skill in skills %}
                                {% if skill in user_skills %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="check" class="custom-control-input" id="skillCheck{{ loop.index }}" value="{{ skill }}" checked>
                                        <label class="custom-control-label" for="skillCheck{{loop.index}}">{{ skill }}</label>
                                    </div>
                                {% else %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="check" class="custom-control-input" id="skillCheck{{ loop.index }}" value="{{ skill }}">
                                        <label class="custom-control-label" for="skillCheck{{loop.index}}">{{ skill }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
                </div>
                 <div class="form-group" name="projects">
                    <p>Projekty</p>
                    <div class="container checkbox-container">
                        <div class="form-group">
                            {% for project in projects %}
                                <div class="project-entry">
                                    <h3><a href="{{ url_for('project', project_id=project.id) }}">{{ project.project_name }}</a><span class="project-date">Data utworzenia: {{ project.date_posted.strftime('%Y-%m-%d') }}</span></h3>
                                    <p>
                                        <span>{{ project.description }}</span>
                                    </p>
                                    <span>Członkowie:
                                        {% for name in project.coworkers.split(',') %}
                                            <a href="{{ url_for('user_profile', username=name) }}">{{ name }}</a>,
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
