{% extends "profile.html" %}
{% block banner_content %}
    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + circle.image_file) }}">
    <div class="media-body account-shadow">
        <h2 class="account-heading">{{ circle.circle_name }}</h2>
        <p class="text-secondary">Przewodniczący: {{ circle.circle_head }}, Opiekun: {{ circle.circle_guardian }}</p>
    </div>
    <div class="follow-buttons col">
        <a href="{{ club_follow_url }}" class="follow-club btn btn-primary" role="button">Obserwuj koło</a>
    </div>
{% endblock banner_content %}

{% block profile_fields %}
<fieldset class="form-group">
<legend class="border-bottom mb-4">Informacje o kole</legend>
    <div class="field_row">
        <label for="user-username">Nazwa Koła</label> 
        <span id='user-username'>{{ circle.circle_name }}</span>
    </div>
    <div class="field_row">
        <label for="user-username">Nazwa Koła</label> 
        <span id='user-username'>{{ circle.circle_name }}</span>
    </div>
    <div class="field_row" name="skills">
        <p>Członkowie</p>
        <div class="container checkbox-container">
            <div class="form-group">
                {% for member in circle.circle_members.split(',') %}
                    {% if member != 'None' %}
                        <a href="{{ url_for('user_profile', username=member) }}">{{ member }}</a>,
                    {% endif %}
                {% endfor %}
                <a href="{{ url_for('user_profile', username=circle.circle_head) }}"><b>{{ circle.circle_head }}</b></a> <br>
                Opiekun: <a href="{{ url_for('user_profile', username=circle.circle_guardian) }}"><b>{{ circle.circle_guardian }}</b></a> <br>
            </div>
    </div>
    </div>
        <div class="field_row" name="projects">
        <p>Projekty</p>
        {% for project in projects %}
            <div class="project-entry">
                <h3><a href="{{ url_for('project', project_id=project.id) }}">{{ project.project_name }}</a><span class="project-date">Data utworzenia: {{ project.date_posted.strftime('%Y-%m-%d') }}</span></h3>
                <p>
                    <span>{{ project.description }}</span>
                </p>
                <span>Członkowie:
                    {% for name in project.coworkers.split(',') %}
                        <a href="{{ url_for('user_profile', username=name) }}">{{ name }}</a>,
                    {% endfor %}
                    {% if project.circle %}
                        <a href="{{ url_for('circle_profile', circle_name=project.circle) }}"><b>{{ project.circle }}</b></a>
                    {% endif %}
                    {% if project.user %}
                        <a href="{{ url_for('user_profile', username=project.user) }}"><b>{{ project.user }}</b></a>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
    </div>
</fieldset>
{% endblock profile_fields %}