{% extends "reg_log_layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.project_name.label(class="form-control-label") }}
                {% if form.project_name.errors %}
                    {{ form.project_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.project_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.project_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.coworkers.label(class="form-control-label") }}
                {% if form.coworkers.errors %}
                    {{ form.coworkers(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.coworkers.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.coworkers(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" name="skills">
                    <p>Skills</p>
                    <div class="container" id="skillScroll">
                        <div class="form-group">
                            {% for skill in skills %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="check" class="custom-control-input" id="projectCheck{{ loop.index }}" value="{{ skill }}">
                                    <label class="custom-control-label" for="projectCheck{{loop.index}}">{{ skill }}</label>
                                </div>
                             {% endfor %}
                        </div>
                </div>
                </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
