<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <title>Skillcast</title>
</head>
<body scroll="no" style="overflow: hidden">
    <div class="container">
        <div class="text-center">
            <img id="main-logo" src="{{ url_for('static', filename='img/logo_medifinal.svg') }}" alt="Skillcast">
        </div>
        
        <div class="row">
            <div id="description" class="col text-center">
                <span id="descr-content">Skillcast to niesamowita platforma skierowana do studentów stawiających na rozwój w kołach naukowych oraz innych organizacjach studenckich.
                    Celem platformy jest stworzenie środowiska umożliwiającego prowadzenie projektów interdyscyplinarnych. Daj innym znać o tym w czym jesteś najlepszy,
                    swoich mocnych stronach i pomysłach. Dołącz do koła naukowego lub zarejestruj własne.<b> Działaj!</b>
                </span>
            </div>
                <div id="start-buttons">
                    <div class="grid-button"><a href="{{ url_for('login') }}" class="btn btn-primary">Logowanie</a></div>
                    <div class="grid-button"><a href="{{ url_for('register') }}" class="btn btn-primary">Rejestracja</a></div> 
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>