<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
        <title>Skillcast - {{ title }}</title>
    {% else %}
        <title>Skillcast</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand justify-content-between">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/logo-sm.png') }}" alt="Skillcast" class="logo-sm">
            <span class="name">Skillcast</span>
        </a>
        <div>
            <a href="{{ url_for('new_project') }}"><i class="material-icons">add_comment</i></a>
            <a href="{{ url_for('new_circle') }}"><i class="material-icons">add_circle</i></a>
            <a href="{{ url_for('search_user') }}"><i class="material-icons">face</i></a>
            <a href="{{ url_for('search_circle') }}"><i class="material-icons">album</i></a>
            <a href="{{ url_for('account') }}"><i class="material-icons">build</i></a>
            <a href="{{ url_for('home') }}"><i class="material-icons">home</i></a>
            <a href="{{ url_for('logout') }}"><i class="material-icons">exit_to_app</i></a>
        </div>
    </nav>

    <div class="container container-wider">
        {% block content %}{% endblock %}
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>