{% extends "main_layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="account-banner" style="background-image: url('{{ url_for('static', filename='banners/photo-1497316730643-415fac54a2af.jpg') }}');">
            <div class="media">
                {% block banner_content %}{% endblock %}
            </div>
        </div>
        <div>
            {% block profile_fields %}
            {% endblock profile_fields %}
        </div>
    </div>
{% endblock content %}
