{% extends "profile.html" %}
{% block banner_content %}
    <div class="media-body account-shadow">
        <h2 class="account-heading">{{ project.project_name }}</h2>
    </div>
{% endblock banner_content %}

{% block profile_fields %}
<fieldset class="user_fields_div">
    <legend class="border-bottom mb-4">Informacje o projekcie</legend>
    <div class="field_row">
        <label for="user-username">Nazwa projektu</label><br>
        <span id='user-username'>{{ project.project_name }}</span>
    </div>
    <div class="field_row">
        <label for="user-email">Data opublikowania</label><br>
        <span id='user-email'>{{ project.date_posted.strftime('%Y-%m-%d') }}</span>
    </div>
    <div class="field_row">
        <label for="user-university">Opis</label><br>
        <span id='user-university'>{{ project.description }}</span>
    </div>
    <div class="field_row" name="skills">
        <label for="user-skills">Umiejętności</label><br>
        <span id='user-skills'>{{ project.skills }}</span>
    </div>
    <div class="field_row" name="coworkers">
        <span>Członkowie:
            {% for name in project.coworkers.split(',') %}
                <a href="{{ url_for('user_profile', username=name) }}">{{ name }}</a>,
            {% endfor %}
        </span>
    </div>
</fieldset>
{% endblock profile_fields %}
