{% extends "main_layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="projects-banner">
            <p>Lista projektów</p>
        </div>
        <div>
            <div class="container">
                {% for project in projects %}
                    <div class="project-entry">
                        <h3><a href="{{ url_for('project', project_id=project.id) }}">{{ project.project_name }}</a><span class="project-date">Data utworzenia: {{ project.date_posted.strftime('%Y-%m-%d') }}</span></h3>
                        <p>
                            <span>{{ project.description }}</span>
                        </p>
                        <span>Członkowie:
                            {% for name in project.coworkers.split(',') %}
                                <a href="{{ url_for('user_profile', username=name) }}">{{ name }}</a>,
                            {% endfor %}
                            {% if project.circle %}
                                <a href="{{ url_for('circle_profile', circle_name=project.circle) }}"><b>{{ project.circle }}</b></a>
                            {% endif %}
                            {% if project.user %}
                                <a href="{{ url_for('user_profile', username=project.user) }}"><b>{{ project.user }}</b></a>
                            {% endif %}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
