{% extends "reg_log_layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ url_for('search_circle', searchname=form.search.data) }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Szukaj koła</legend>
                <div class="form-group">
                    {{ form.search.label(class="form-control-label") }}

                    {% if form.search.errors %}
                        {{ form.search(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <fieldset class="form-group">
                <div class="form-group">
                    {% for circle in circles %}
                        <a href="#">{{ circle.circle_name }}</a><br>
                    {% endfor %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}