{% extends "profile.html" %}
{% block banner_content %}
    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
    <div class="media-body account-shadow">
        <h2 class="account-heading">{{ user.name }} {{ user.surname }}</h2>
        <p class="text-secondary">{{ user.username }}</p>
    </div>
    <div class="follow-buttons col">
        <a href="{{ user_follow_url }}" class="follow-user btn btn-primary" role="button">Obserwuj użytkownika</a>
    </div>
{% endblock banner_content %}

{% block profile_fields %}
<fieldset class="user_fields_div">
    <legend class="border-bottom mb-4">Informacje osobiste</legend>
    <div class="field_row">
        <label for="user-username">Nazwa użytkownika</label><br>
        <span id='user-username'>{{ user.username }}</span>
    </div>
    <div class="field_row">
        <label for="user-email">E-mail</label><br>
        <span id='user-email'>{{ user.email }}</span>
    </div>
    <div class="field_row">
        <label for="user-university">Uczelnia</label><br>
        <span id='user-university'>{{ user.university }}</span>
    </div>
    <div class="field_row">
        <label for="user-faculty">Wydział</label><br>
        <span id='user-faculty'>{{ user.faculty }}</span>
    </div>
    <div class="field_row">
        <label for="user-social">Media społecznościowe</label><br>
        <span id='user-social'>{{ user.social }}</span>
    </div>
    <div class="field_row" name="skills">
        <label for="user-skills">Umiejętności</label><br>
        <span id='user-skills'>{{ user.skills }}</span>
    </div>
        <div class="field_row" name="projects">
        <p>Projekty</p>
        {% for project in projects %}
            <div class="project-entry">
                <h3><a href="{{ url_for('project', project_id=project.id) }}">{{ project.project_name }}</a><span class="project-date">Data utworzenia: {{ project.date_posted.strftime('%Y-%m-%d') }}</span></h3>
                <p>
                    <span>{{ project.description }}</span>
                </p>
                <span>Członkowie:
                    {% for name in project.coworkers.split(',') %}
                        <a href="{{ url_for('user_profile', username=name) }}">{{ name }}</a>,
                    {% endfor %}
                    {% if project.circle %}
                        <a href="{{ url_for('circle_profile', circle_name=project.circle) }}"><b>{{ project.circle }}</b></a>
                    {% endif %}
                    {% if project.user %}
                        <a href="{{ url_for('user_profile', username=project.user) }}"><b>{{ project.user }}</b></a>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
</fieldset>
{% endblock profile_fields %}