.btn {
    width: 75%;
    margin-bottom: 45px;
    height: auto;
}

#main-logo {
    width: 80%;
    height: auto;
}

.container {
    margin-bottom: 10px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #C3A400;
    border-color: #C3A400;
}

.btn-primary {
    color: #fff;
    background-color:  #F7D237;
    border-color:  #F7D237;
}

.text-center {
    text-align: center!important;
    color: #fff;
    margin-top: -120px;
}

.row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: -70px;
    grid-column-gap: 20px;
}

#start-buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid-button {
    align-self: stretch;
    justify-self: stretch;
    
}

#description {
    font-size: 19px;
    text-align: justify !important;
    margin-top: 2px;
}








