body {
  background: #2B475D;
  color: #333333;
  /* margin-top: 5rem; */
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

nav a {
  color: #FCFFFF;
}

a {
  color: #2B475D;
}

.logo-sm {
  max-height: 40px;
  height: 90%;
}

.navbar-brand .name {
  font-family: 'Lilita One';
  margin-left: 7px;
}

@font-face {
  font-family: "Lilita One";
  src: url("LilitaOne-Regular.ttf") format("truetype")
}

.container-wider {
  min-width: 95% !important;
}

.account-img {
  margin-left: 20px;
  margin-top: 16px;
  z-index: 10;
}

.account-banner {
  margin: -10px -20px -5px;
  background-size: cover;
  
}

.account-heading, .text-secondary {
  color: white !important;
}

.account-shadow {
  margin-top: 32.5px;
  margin-left: -50px;
  padding-left: 50px;
  background-color: rgba(88, 88, 88, 0.63);
}

.checkbox-container {
  border:1px solid #ccc; 
  width: 95%;
  overflow-y: scroll;
}

.follow-buttons {
  padding-top: 60px;
  position: absolute;
  right: 30px;
}
.follow-buttons .btn {
  float: right;
  margin-right: 10px;
}

#skillScroll {
  border:2px solid #ccc;
  width:300px;
  height: 200px;
  overflow-y: scroll;
}

.project-entry {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.project-date {
  font-size: 0.5em;
  color: #999;
  margin-left: 20px;
  float: right;
}

.field_row:nth-child(even) {
  background-color: #ccc;
}

.field_row label {
  font-weight: bold;
  margin-left: 5px;
}

.field_row span {
  margin-left: 20px;
}